In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import joblib

In [4]:
#create your dataset here as well
data={
    'Math':[78,45,90,35,65,82,30,40,55,92],
    'Science':[69,40,95,30,70,75,20,45,60,98],
    'English':[72,39,88,25,60,85,28,50,58,93],
    'Result':['Pass','Fail','Pass','Fail','Pass','Pass','Fail','Fail','Pass','Pass']
}

In [5]:
df=pd.DataFrame(data)
print(df)

   Math  Science  English Result
0    78       69       72   Pass
1    45       40       39   Fail
2    90       95       88   Pass
3    35       30       25   Fail
4    65       70       60   Pass
5    82       75       85   Pass
6    30       20       28   Fail
7    40       45       50   Fail
8    55       60       58   Pass
9    92       98       93   Pass

In [6]:
#Encoidng result col data into numerical format
df['Result']=df['Result'].map({'Pass':1,'Fail':0})
df

   Math  Science  English  Result
0    78       69       72       1
1    45       40       39       0
2    90       95       88       1
3    35       30       25       0
4    65       70       60       1
5    82       75       85       1
6    30       20       28       0
7    40       45       50       0
8    55       60       58       1
9    92       98       93       1

In [7]:
x=df[['Math', 'Science', 'English']]
y=df['Result']
x

   Math  Science  English
0    78       69       72
1    45       40       39
2    90       95       88
3    35       30       25
4    65       70       60
5    82       75       85
6    30       20       28
7    40       45       50
8    55       60       58
9    92       98       93

In [8]:
y

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    0
8    1
9    1
Name: Result, dtype: int64

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
x_train

   Math  Science  English
5    82       75       85
0    78       69       72
7    40       45       50
2    90       95       88
9    92       98       93
4    65       70       60
3    35       30       25
6    30       20       28

In [11]:
x_test

   Math  Science  English
8    55       60       58
1    45       40       39

In [12]:
y_train

5    1
0    1
7    0
2    1
9    1
4    1
3    0
6    0
Name: Result, dtype: int64

In [13]:
y_test

8    1
1    0
Name: Result, dtype: int64

In [14]:
model=LogisticRegression()
model.fit(x_train,y_train)
#model is our Logistic

LogisticRegression()

In [15]:
joblib.dump(model,'model.pkl')

['model.pkl']

In [16]:
math=int(input('Enter the marks of Math'))
science=int(input('Enter the marks of Science'))
english=int(input('Enter the marks of English'))

result=model.predict([(math,science,english)])
if result==1:
    print('Pass')
else:
    print('Fail')

Fail

c:\Users\Likitha\OneDrive\Desktop\CICDPROJECT\myenv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(